Dockerfile*
docker-compose*
.dockerignore
.git
.githooks
.gitsecret
.gitignore
*/bin
*/obj
*/dist
static
node_modules
README.md
LICENSE
.vscode
.idea
.circleci
rustfmt
rustfmt.toml
target
vendor
media
photo-story
logs
monitoring
Cargo.lock
fly.toml
